@model IEnumerable<Hero>

@{
    ViewData["Title"] = "Heroes List";
    var numberOfRows = Math.Ceiling(Model.Count() / 3d);
}

<h1>Heroes List</h1>
<div class="container">
    @for (int i = 0; i < numberOfRows; i++)
    {
        var heroes = Model.Skip(i * 3).Take(3);
        <div class="row mb-4">
            @foreach (var hero in heroes)
            {
                <div class="col-sm-12 col-md-6 col-lg-4 d-flex align-items-stretch">
                    <div class="w-100 card">
                        <img src="@hero.ThumbnailUrl" class="card-img-top" alt="@hero.Name">
                        <div class="card-body">
                            <h5 class="card-title">@hero.Name</h5>
                            <p class="card-text">@hero.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
@{
    var item = Model.ElementAt(0);
    var page = Int32.Parse(item.Page);
    var k = (page - 1).ToString();
    var l = page.ToString();
    var m = (page + 1).ToString();
}
@{      
    if (page == 1)
    {
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="@k" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="list?page=@l">@l</a></li>
                <li class="page-item"><a class="page-link" href="list?page=@m">@m</a></li>
                <li class="page-item">
                    <a class="page-link" href="list?page=@m">Next</a>
                </li>
            </ul>
        </nav>
    }
    else
    { 
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="list?page=@k">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="list?page=@k">@k</a></li>
                <li class="page-item"><a class="page-link" href="list?page=@l">@l</a></li>
                <li class="page-item"><a class="page-link" href="list?page=@m">@m</a></li>
                <li class="page-item">
                    <a class="page-link" href="list?page=@m">Next</a>
                </li>
            </ul>
        </nav>

    }

}